@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

#footer {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 12%;
    background: #333D51;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 5%;
    font-size: 14px;
}

#footer h2 {
    width: 20%;
    padding-top: 0.5%;
}

#footer h2 img {
    width: 50%;
}

#footer ul {
    width: 70%;
    display: flex;
    align-items: center;
}

#footer ul li {
    line-height: 18px;
    padding: 0 3%;
}

#footer ul li:not(:last-child) {
    border-right: 1px solid #fff;
}